<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<a th:href="@{/}" th:text="#{logout}">logout</a>
<a th:href="@{/savejsonpeople}">json people</a>
<a th:href="@{/savejsonmessages}">json messages</a>

<form action="#" th:action="@{/admin(query=${query})}">
    <input th:value="${query}" type="text" name="query" th:placeholder="#{person}">
    <p>
        <input type="submit" th:value="#{find}"/>
    </p>
</form>
<tr th:each="person: ${persons}">
    <td th:text="${person.id}" />
    <td th:text="${person.nick}" />
    <a th:href="@{/person/{id}(id=${person.id}, admin=true)}" th:text="#{messages}">messeges</a>
    <br/>
    <br/>
</tr>
</body>
</html>