<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{edit}">Edit message</title>
</head>
<body>
    <form action="#" th:action="@{/edit-post/{id}(id=${message.id})}" th:object="${message}" method="post">
        <input type="text" th:field="*{content}">
        <p>
            <input type="submit" th:value="#{accept}"/>
        </p>
    </form>
</body>
</html>