<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{edit}">Title</title>
</head>
<body>
    <form action="#" th:action="@{/edit-person/{id}(id=${person.id})}" th:object="${person}" method="post">
        <p th:text="#{nick}"></p><input type="text" th:field="*{nick}">
        <p th:text="email"></p><input type="text" th:field="*{email}">
        <p th:text="#{password}"></p><input type="text" th:field="*{password}">
        <p>
            <input type="submit" th:value="#{find}"/>
        </p>
    </form>
    <a th:href="@{/delete-person/{id}(id=${person.id})}" th:text="#{del}">delete self</a>
</body>
</html>