<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{hi}">:*</title>
</head>
<body>
    <div th:switch="${user}">
        <div th:case="null">
            <a th:href="@{/signup}" th:text="#{signup}">signup </a>
            <a th:href="@{/login}"  th:text="#{login}">login </a>
        </div>
        <div th:case="0">
            <a th:href="@{/signup}" th:text="admin">admin panel</a>
            <a th:href="@{/}" th:text="#{logout}">logout</a>
        </div>
        <div th:case="*">
            <a th:href="@{/person/{id}(id=${user})}" th:text="#{mypage}">my page</a>
            <a th:href="@{/}" th:text="#{logout}">logout</a>
        </div>
    </div>
    <form action="#" th:action="@{/(qp=${qp}, qm=${qm})}">
        <input th:value="${qp}" type="text" name="qp" th:placeholder="#{person}">
        <input th:value="${qm}" type="text" name="qm" th:placeholder="#{message}">
        <p>
            <input type="submit" th:value="#{find}" />
        </p>
    </form>

    <br/>
    <br/>
    <tr th:each="message: ${messages}">
        <td th:text="${message.content}" />
        <br/>
        <td th:text="${message.person.nick}" />
        <br/>
        <td th:text="${message.create_date}" />
        <br/>
        <br/>
    </tr>
</body>
</html>