<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<a th:href="@{/}" th:text="#{back}">back</a>
<body>
    <form action="#" th:action="@{/login-check}" method="post">
        <p th:value="#{nick}"></p><input type="text" th:value="${nick} "name="nick" th:placeholder="#{nick}">
        <p th:value="#{password}"></p><input type="text" th:value="${password}" name="password" th:placeholder="#{password}">
        <p>
            <input type="submit" th:value="#{login}"/>
        </p>
    </form>
</body>
</html>