<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}" th:text="#{logout}">logout</a>
<div th:switch="${admin}">
    <a th:case="true" th:href="@{/admin}" th:text="#{mainpage}">main page<br/></a>
    <div th:case="false">
        <a th:href="@{/(user=${id})}" th:text="#{mainpage}">main page</a>
        <form action="#" th:object="${post}" th:action="@{/person/{id}(id=${id})}" method="post">
            <input type="text" th:field="*{content}" name="content">
            <div th:if="${#fields.hasErrors('content')}"
                 th:errors="*{content}">Content Error
            </div>
            <p>
                <input type="submit" th:value="#{post}"/>
            </p>
        </form>
    </div>
</div>
   <tr th:each="message: ${messages}">
       <td th:text="${message.content}" />
        <td th:text="${message.create_date}" />
       <div th:if="!${admin}">
             <a th:href="@{/delete-post/{id}(id=${message.id})}" method="post" th:text="#{del}">delete</a>
            <a th:href="@{/person/{pid}/edit/{mid}(mid=${message.id}, pid=${id})}" method="post" th:text="#{edit}">edit</a>
           <a th:href="@{/person/{pid}/edit/{mid}/save(mid=${message.id}, pid=${id})}" method="post" th:text="#{save}">save</a>
       </div>
        <br/>
    </tr>
</body>
</html>