<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signup}">signup</title>
</head>
<a th:href="@{/}" th:text="#{back}">back</a>
<body>
    <form action="#" th:action="@{/signup}" th:object="${Person}" method="post">
        <input type="text" th:field="*{nick}" th:placeholder="#{nick}"/>
        <div th:if="${#fields.hasErrors('nick')}"
              th:errors="*{nick}">Nick Error
        </div>
        <input type="text" th:field="*{email}" th:placeholder="email">
        <div th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">Email Error
        </div>
        <input type="text" th:field="*{password}" th:placeholder="#{password}">
        <div th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}">Password Error
        </div>
        <p>
            <input type="submit" th:value="#{accept}"/> <input type="reset" th:value="reset">
        </p>
        <p th:if="${error}">wprowadź poprawne dane</p>
    </form>

</body>
</html>